@import '../../shared.less';


.pgb-forward-container {
	display: flex;
	padding: 0px 0px 0px 1px;
}

.pgb-forward__body {
	min-width: 10px;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 0px 16px 16px 0px;
	font-weight: bold;
	background-color: coral;
}