@import (reference) '../shared/styles/shared.less';


.header_theme_1 {
	.row;
	background-color: rgb(40, 90, 90);
}

.header__logo_theme_1 {
	.col;

	justify-content: center;
	color: aliceblue;
	.bg-transparent;
	justify-content: center;
	font-size: 32px;
	font-weight: bold;
	rotate: -45deg;
}

.header__title_theme_1 {
	.col;

	justify-content: center;
	font-size: 72px;
	font-weight: bold;
	color: aliceblue;
}