@import '../../shared.less';


.page-number_theme_1 {
    .col;
    justify-content: center;
    text-align: center;
    .bg-transparent;
}

.button-like_theme_1 {
	.row;
	.no-any-borders;
    min-width: 24px;
	min-height: 24px;
	margin: 0px 1px;
	padding: 0px;
	justify-content: center;
	align-items: stretch;
	background-color: coral;
	color: black;
}

.button-like_theme_1:hover {
	background-color: green;
	color: white;
}

.button2-like_theme_1:hover {
	color: #000011;
}

.highlighted-button {
	background-color: orangered;
	color: #333333;
}