@import '../../shared.less';


.pagination-bar__numbers_theme_1 {
    display: flex;
    flex-direction: row;
}

.pagination-bar_theme_1 {
    display: flex;
    flex-direction: row;

    padding-top: 4px;
    padding-bottom: 4px;
    justify-content: center;
    background-color: cadetblue;
}

.pagination-bar__filter_theme_1 {
    display: flex;
    flex-direction: row;
    padding-right: 64px;
    color: rgb(20, 56, 56);
}

.pagination-bar__add-article_theme_1 {
    display: flex;
    flex-direction: row;
    padding-left: 64px;
    /* color:#0d0525; */
    color: rgb(20, 56, 56);
}

.pagination-bar__controls_theme_1 {
    display: flex;
    flex-direction: row;

    /* margin: 4px 0px 4px 0px; */
    color: #333333;
}